body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.cardHolder{
  background-image: url("https://thumbs.dreamstime.com/z/diamonds-218077.jpg");
  padding:30px 80px;
  margin:0;

}
.white-background{
  background-color:rgb(130, 131, 238,0.5);
  padding:50px 50px 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  margin-bottom: 10px;
  max-width: 500px;;
}
h5 ,.margBottom30 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: black;
  text-decoration: none;
 
}
.white-background>img{
  margin-bottom: 30px;
  box-shadow: 10px 5px #4d4c4e;
  border-radius: 50%;
}
.smallRoundLightBlue{
  display:inline-block;
  border-radius:50%;
  background-color:rgb(150, 56, 64);
  width:8px;
  height:8px;
  margin-right :3px;
}
.smallRoundBlue{
  display:inline-block;
  border-radius:50%;
  background-color:blue;
  width:8px;
  height:8px;
  margin-right :3px;
}
.inline{
  display:inline;
  margin-top: 50px;
}
.btnSucc{
  margin-right: 5px;
}
.logo{
  width:40px;
}
.notVisible{
  display:none;
}
.lightBlueBorder{
  border:5px solid rgb(135, 190, 223);
  border-radius: 10%;
}


.border-bottom{
  border-bottom: 1px solid black;
}

#invalid-passwords{
  color:red;
}
/* .noMarginBottom{
  margin-bottom: 1px;
  font-size:12px;
  color:white;
  font-weight: bold
  
} */
/* .diamondRow{
  border:1px solid rgb(6, 5, 15);
  background-color:rgb(149, 147, 152);
} */
.diamondContent>h5{
  margin-bottom: 1px;
  font-size: 10px;
  color:rgb(230, 19, 19);
  font-weight: bold;
  text-decoration: underline;
}

.diamondContent>a>p {
  color:rgb(40, 14, 187);
  font-weight:normal;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
} 
.smallPic{
  width:200px;
  margin-right: 5px;
}
.smallPic:hover{
  position:fixed;
  top:150px;
  /* left:10px; */
  width:600px;
  z-index:2;
}

.diamondContent>p{
  margin-bottom: 1px;
  text-align: center;
  color:rgb(39, 11, 116);
  font-weight:bold;
  font-size: 14px;
}
.logo{
  width:100px
}
.fixed{
  border:1px solid white;
 
  margin: 15px 0;

}
.certChoose{
  width:100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h5Cert{
  height: 5px;
  /* margin-left: 20px; */
  margin-top:20px;
}
#AGS{
  height: 70px
}
.innerCol{
  width:25%;
}
.modal-content{
  height:740px;
}

.login {
  max-width: 500px;
  margin: 50px auto;

}
.fullWin{
  width:100%;
  margin:8px 0;
  box-shadow: 5px 10px #888888;

}
.baseSlider{
  position: relative;
}
.sliderOnSlider{
  position: absolute;
  left:0;
  top:5px;
}
.pointer{
   cursor: pointer; 
}
.userHeader{
  background-color: rgb(21, 21, 226);
  color:white;
  font-size: 18px;
  
}

#page-container {
  position: relative;
  min-height: 100vh;
  

}
#footer {
  position: absolute;
  width:100%;
  bottom: 0;
  padding:10px;
  background-color: rgb(55, 137, 230);
  width: calc(100% - 30px);
 
}
#border{
  border:1px solid rgb(63, 80, 228);
}
.from{
  padding:20px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 30px;
  color:white;
  background-color: rgb(89, 185, 89);
  font-size: 18px;
  margin-left:auto;
  padding: 10px 15px;
}
.to {
  padding:20px;
  margin-top: 5px;
  display:inline-block;
  border-radius: 30px;
  color:white;
  background-color: rgb(74, 120, 206);
  font-size: 18px;
  margin-right:auto;
  padding: 10px 15px;
}
.messageRow{
  width:50%
}
.body {
  margin: 0, 40px;
  overflow-y:scroll;
  height:490px;
}
.deleteMessage:hover{
  cursor: pointer;
}
#alertAddToCart{
  
  position:fixed;
  width:100%;
  z-index: 2;
  bottom:-13px;
  left:0px;
}